<h1>Edit this Item</h1>

<form action="/admin/products/{{data.id}}/edit" method="post">
    <label>Name</label>
    <input type="text" name="name" value="{{data.name}}">
    <label>description</label>
    <textarea name="description" rows="4" cols="40">{{data.description}}</textarea>
    <label>Image URL</label>
    <input type="text" name="image_url" value="{{data.image_url}}">
    <label>Active</label>
    <input type="checkbox" name="active" value="true">
    <input type="submit" value="Edit">
</form>
