<h2>Add new admin</h2>
<form action="/admin/new" method="post">
    <label>First Name</label>
    <input type="text" name="first_name" value="">
    <label>Last Name</label>
    <input type="texr" name="last_name" value="">
    <label>Email</label>
    <input type="text" name="email" value="">
    <label>password</label>
    <input type="text" name="password" value="">
    <label>Admin:</label>
    <input type="checkbox" name="admin" value="true" checked="checked">
    <input type="submit" name="name" value="Add Admin">
</form>
