<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Thanks for your order! | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

</head>
<body class="text-center">

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
</ul>
</div>
</div>

Thanks for your order, {{firstName}}!


<div class="callout large primary text-center">
<div class="row column text-center">
<h1>GNOSH TIME!</h1>
<h2 class="subheader">Delicious snacking is in your near future!</h2>
</div>
</div>

<div class="row medium-5 large-4 columns text-center">
<div class="blog-post text-center">
<img class="thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM_B25_yfs0KqPiN7qb4QPKKs4lXkFeL59BvVrInEZTJnTnz2ZNg">
<p>Please see a summary of your order below: </p>

<p></p>
<div class="callout">
<ul class="menu simple">
<a href="http:///gnosh.herokuapp.com">GNOSH.COM</a>

</ul>
</div>
</div>

</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
      knex('users_cart')
        .innerJoin('users','users_cart.user_id','users.id')
        .innerJoin('users_addresses','user_id','users.id')
        .innnerJoin('addresses','users_addresses.address_id','addresses.id')
        .innerJoin('items','users_cart.item_id','items.id')
        .then(function(data){
            res.send(data);
            console.log(data);
        })

    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
</html>
