<main class='login'>
<h2 class='login'>Log In</h2>
  <form class='login center-block' action='/users/login' method='post'>
    <ul class='errors'>
      {{#errors}}
      <li><b>{{this}}</b></li>
      {{/errors}}
    </ul>
    <form class="form-group" action="/users/login" method='post'>
          <ul class='errors'>
              {{#errors}}
              <li><b>{{this}}</b></li>
              {{/errors}}
          </ul>
          <label class='form-control'>Email</label>
          <input class='form-control' type='text' name='email'></input>
          <label class='form-control'>Password</label>
          <input class='form-control' type='password' name='password'></input>
          <button type="submit" class="btn btn-default">Submit</button>

          <!-- <a href='/'>Home</a> -->
      </form>


</main>
