<form action='/users/login' method='post'>
  <ul class='errors'>
    {{#errors}}
    <li><b>{{this}}</b></li>
    {{/errors}}
  </ul>
  <br>
  <label for='name'>Email</label>
  <input type='text' name='email'></input>
  <br><br>
  <label for='email'>Password</label>
  <input type='password' name='password'></input>
  <br><br>
  <br><br><br>
  <button type='submit'>Log In</button>
</form>
