<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container nav-container">
    <ul class="nav nav-pills">
      <li>
        <div class="dropdown cart">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Cart
            <span class="caret"></span>
          </button>
          <table class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
            <tr>
              <td></td>
            </tr>
            <tr id='total'>
              <td><b>Total:</b></td>
              <td>$total</td>
            </tr>
          </table>
        </div>
      </li>

      {{#if user}}
       {{#if photo}}
       <li><img src="{{photo}}"/></li>
       {{/if}}
       <li><h5>Welcome, {{name}}!</h5></li>
       <li><a class="logout" href="/users/logout">Log out</a></li>
       {{/if}}
       {{#unless user}}
       <li><a href='/auth/google'><img class="google" src="http://i.stack.imgur.com/XzoRm.png" alt="google oauth"/></a></li>
       <li><a class="signup" href="/users/signup">Sign Up</a></li>
       <li><a class="login" href="/users/login">Log In</a></li>
      {{/unless}}
    </ul>

  </div>
</nav>

<!-- <div class='row main-pic'>
  <div class='col-md-12'>
    <img class='landing center-block' src='./images/food-kitchen-cutting-board-cooking-large.jpg'>
  </div>
  <h1 class='header'>gnosh.</h1>
  <h4 class='header text-center'>All the snacks you need.<br>Right to your door.</h4>
</div> -->

<div class="container col-md-offset-1 col-md-12 all">
<div class="row">
{{#items}}
    <div class="thumbnail col-md-3 shadow">
      <img style="height:250px" src="{{this.image_url}}" alt="...">
      <div class="caption text-center">
        <h4>{{this.name}}</h4>
      </div>
    </div>
{{/items}}
</div>
</div>
