<h1>Add an Item</h1>

<form action="/admin/products/add" method="post">
    <label>product name</label>
    <input type="text" name="name" value="">
    <label>description</label>
    <input type="text" name="description" value="">
    <label>Image URL</label>
    <input type="text" name="image_url" value="">
    <label>Active?</label>
    <input type="checkbox" name="active" value="true">
    <input type="submit" value="Add this item">
</form>
