html, body {
  height: 100%;
}

body {
    display: relative;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
}

#wrap {
  min-height: 100vh;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto 0;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

.myInput {
    z-index: 10000;
}
.modal-content {
    background-image: url('http://woodenwindow.com/wp-content/uploads/Eastern-Black-Walnut.jpg');
}
.modal-dialog {
    width:600px;
}

.modal-body > form > input {
    height: 50px;
    width: 200px;
}
.modal {
    color:white;

}
#logo {
    width: 150px;
    height: 150px;
}
.modal-body > form > label {
    /*height:50px;*/
    width: 200px;
    color: white;
}
.modal-backdrop {
    z-index: 1020;
}

.google {
    width: 80%;
}

/* Top Navbar */

div.signup-login {
  margin-top: 15px;
}

h3.main-logo {
  position: fixed;
  left: 44%;
  top: -25px;
  z-index: 1000;
  color: white;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

nav {
  height: 8%;
}

.nav-container {
  padding-top: 20px;
  margin-right: 2%;
}

.navbar-default {
  font-family: 'Quicksand', sans-serif;
  height: 58px;
}

.text-right {
  margin-top: -30px;
}

img.prof-pic {
  height: 50px;
  margin-top: -12px;
  border-radius: 50%;
}

.welcome{
  margin-top: -5px;
  float:right;
}

/* Cart */

span.totals > h4 {
  display: inline-block;
}

span.totals > h3 {
  display: inline-block;
}

a.address {
  width: 8.3%;
  margin-bottom: 3px;
  margin-left: 9.5%
}

h4.address-message {
  color: rgb(116,176,93);
  margin-left: 9.5%;
}

div.payment {
  margin-left: 9.5%;
  margin-bottom: 7%;
}

div.shopping-cart {
  font-family: 'Quicksand', sans-serif;
}

div.cart {

  float: left;
  text-align: left;
  margin-top: -17px;
  width: 30%;

}
#cartButton {
    width: 75px;
    height: 30px;
    /*padding-top: 2%;*/
    font-size: 20px;
}
ul.dropdown-menu > li {
    text-align: right;
}
.dropdown-menu > tbody > tr > td.hide-in-cart {
    display: none;
}
.dropdown-menu > tbody > tr > td > img {
    height: 200px;
    width: 200px;
}
td.cart {
    padding: 2% 0;
}
a {
    color: #121f6e;
}

/* Main Landing */

#container {
    height: 100%;
    postition: relative;
    width: 100%;
}

.container {
  padding-right: 0;
  padding-left: 0;
  padding-top: 20px;
}

img.landing {
    position: relative;
    left: 0;
    padding: 0;
    width: 100%;
    margin: auto;
}
h1.header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 78px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(63, 44, 42);
    position: absolute;
    z-index: 100;
    left: 14%;
    top: 27%;
}
h4.header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    position: absolute;
    z-index: 100;
    left: 14%;
    top: 45%;
}

/* Listings Carousel */

.carousel {
    width: 100vw;
    height: 60vh;
    display: block;
    padding-top: 2%;
}
.first-slide {
    margin-bottom: -25px;
}

.item-pic {
  height: 300px;
  width: 300px;
  border-radius: 6px;
  margin-bottom: 10px !important;
}

.item-description {
  font-family: 'Montserrat', sans-serif;
}

.carousel-caption {
    display: block;
    padding-top: 5%;
    color: black;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: black;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left,rgba(147, 147, 147, 0.5) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control.right {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(147, 147, 147, 0.5) 100%);
}

/* Login & Signup*/

img.login-background, img.signup-background {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
}
main.login, main.signup {
    margin: auto;
    margin-top: 15%;
    width: 30%;
    background-color: rgba(228, 228, 228, 0.45);
    border-radius: 8px;
    text-align: center;
}
main.login > form {
    color: black;
}
main.signup > form {
    color: black;
}
h1.login, h1.signup {
    color: white;
    font-size: 72px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(63, 44, 42);
}

.container {
    padding-top: 20px;
}

.all {
    margin-top: 90px;
}

.shadow {
    margin: 10px;
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

/*SINGLE PRODUCT VIEW*/

.productView {
    width: 30%;
    height: 30%;
    box-shadow: -webkit-box-shadow: 9px 6px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 6px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 6px 7px 0px rgba(0, 0, 0, 0.75);
}
.productContainer {
  font-family: 'Quicksand', sans-serif;
  margin-top:5%;
  margin-bottom: 3%;
}

/* PRODUCTS VIEW */

div.thumbnail {
  width: 300px;
  margin: 2% 3.5%;
}
.productsThumb:hover {
    transform: scale(1.1);
    transition: 1s ease;
}
.productsThumb{
transition: .25s ease;
}


/*ADMIN VIEW*/

div.adminContainer {
  /*padding-bottom: 65px;*/
}
.admin {
  text-align: center;
}

iframe{
  margin-top: 40px;
  width:100%;
  height: 350px;
}

/* ADMIN / USERS */

div.users {
  max-height: 600px;
  overflow: scroll;
}

div.users > table {
  margin-top: 3%;
}

div.users > table > tr > th,td {
  text-align: left;
}

/* ADMIN / ITEMS */

div.items {
  height: 600px;
  overflow: scroll;
}

img.admin-item {
  height: 100px;
  width: 100px;
}

/* ADMIN / ADD ADMIN */

div.addAdmin {
  text-align: center;
}

div.addAdmin > div > form > div > label {
  margin-right: auto;
  margin-left: auto;
}

input.edit-name {
  width: 80%;
}

input.edit-boolean {
  width: 50%;
}

/* ADMIN / ADD PRODUCT */

div.addProduct {
  text-align: center;
}

div.addProduct > div > form > div > label {
  margin-right: auto;
  margin-left: auto;
}

.users, .items, .addAdmin, .addProduct {
    display: none;
}
.items {
    margin-top: 10px;
}
th {
    font-size: 18px;
    padding: 5px 17px;
}
td {
    font-size: 17px;
    padding: 5px 17px;
}
.danger {
    color: rgb(251, 0, 0);
}
.msg {
    color: rgb(58, 144, 71);
}
.form-control {
    width: 70%;
}
.addProduct {
  margin-left: 200px;
  width: 60%;
  /*border: solid 2px rgb(40, 71, 113);*/

}
.users {
  margin-left: 130px;
  /*width: 60%;*/
  /*border: solid 2px rgb(40, 71, 113);*/

}
.addAdminForm {
  padding: 20px;
}

.addProductForm {
    padding: 20px;
}

img.info {
  border-radius: 6px;
}

/* Footer */

footer {
  font-family: 'Montserrat', sans-serif;
  position: sticky;
  bottom: 0;
  background-color: rgb(209, 207, 207);
  color: rgb(68, 66, 66);
  width: 100vw;
  padding-bottom: 2%;
}

footer > * {
  background-color: rgb(209, 207, 207);
}

footer > div {
  margin-top: 1%;
}

h1.footer {
  font-size: 54px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(56, 56, 56);
}

.footer-links {
  margin-top: 3%;
}

a.footer-links {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

footer > div > div > ul > li {
  list-style-type: none;
}

/* Admin */

.admin > h4 {
  padding-top: 20px;
}
.adminContainer{
  padding-bottom: 100px;
  height: 100%;
}

.modal-backdrop {
  z-index: 1020;
}

.cartH2{
  margin-top: 50px;
}
