body {
  display:relative;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width:100%;
  height:95vh;
}

.hidden {
  display: none;
}

/* Top Navbar */

.navbar-default {
  padding: 0.5%;
}




/* Cart Dropdown */

div.cart {
  text-align: left;
  margin-top: 5px;
}

ul.dropdown-menu > li {
  text-align: right;
}

.dropdown-menu > tbody > tr > td.hide-in-cart {
  display: none;
}

.dropdown-menu > tbody > tr > td > img {
  height: 200px;
  width: 200px;
}

td.cart {
  padding: 2% 0;
}

a {
  color: #00B7FF;
}

/* Header */

header {
  position: fixed;
  display: relative;
}

div.container2 {
    height:20px;
    position: sticky;
}
table {
  /*position: relative;*/
position: sticky;
  padding-top: 500px;

  display: inline-block;
  margin: auto;
  margin-top: 10%;
}

/*div.main-pic {
  position: relative;
  display: flex;
}*/

img.landing {
  position: fixed;
  left: 0;
  padding: 0;
}

/* LISTINGS */

/* Side blurring for carousel */
.mask-left {
  z-index: 100;
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  position: fixed;
  height: 100%;
  width: 10%;
  left: 0;
}

.mask-right {
  z-index: 100;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  position: fixed;
  height: 100%;
  width: 10%;
  right: 0;
}



td, th {
  padding: 1%;
}

.item-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.listing {
  padding: 0 0.5%;
  text-align: center;
}


td.description {
  text-align: left;
  padding-left: 15%;

}
/* email format items */
.thumbnail {
    width:25%;
}
