body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.item-pic {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

.listing-row {
  margin: 2%;
}

td, th {
  padding: 1%;
}
.thumbnail {
    width:25%;
}
